@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

@layer base {
  html {
    @apply bg-background;
  }

  body {
    @apply 2xl:px-44 xl:px-24 lg:px-6;
  }
}

@layer components {
  .btn-primary {
    @apply flex h-12 px-6 py-4 justify-center items-center gap-2 rounded-md border border-solid border-accent_green bg-accent_green text-white;
  }

  .btn-secondary {
    @apply flex justify-center items-center h-12 border text-button px-6 py-4 rounded-lg;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-accent_blue;
  }
}
